.navbar-brand{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(250, 250, 250),1px 1px 5px rgb(248, 229, 229);
    font-weight: bolder;
   
}
#my-nav a{
    color: rgb(255, 5, 5);
    border-radius: 20px 20px 1px;
    background: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 4px white;
    text-shadow: 1px 1px 1px rgb(255, 9, 9),1px 1px 2px rgb(245, 226, 226);
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 10px;
}
.navbar{
    background: rgba(0, 0, 0, 0.986);
    box-shadow: 1px 2px 3px white;
    z-index: 1;
}
.navbar::after{
    content: '';
    background: rgba(19, 13, 13, 0.473);
    box-shadow: 1px 1px 10px white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}
#my-nav a:hover{
    color: rgb(7, 7, 211);
    background: rgba(253, 253, 253, 0.623);
    box-shadow: 1px 1px 4px white;
    text-shadow: 1px 1px 1px black,1px 1px 1px black,1px 1px 5px rgb(248, 229, 229);
    font-weight: bolder;
}
#my-nav a.active{
    color: blue;
    text-shadow: 1px 1px 1px black,1px 1px 1px black,1px 1px 5px rgb(248, 229, 229);
    font-weight: bolder;
}